<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Boarding Pass</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/session" method="POST">
        Username: <input type="text" name="username" /><br/>
        Password: <input type="password" name="password" /><br/>
        <input type="submit" value="Log In">
    </form>
</body>
</html>