<footer class="text-center main-footer-div">
    <div class="footer-div d-flex justify-content-center flex-column flex-md-row text-muted">
        <p>Created by dlan.</p>
        <p>Find me: </p>
        <p class="links"><a href="https://www.linkedin.com/in/david-lance-0276514b/">LinkedIn</a></p>
        <p class="links"><a href="https://github.com/david6116/FlightBoard">Github</a></p>
    </div>
</footer>