.table tr{
    background-color: rgb(2,106,195);
    color: white;
}
.table a, .table a:hover, .table a:visited{
    text-decoration: none;
    color: white;
}
.table tr:nth-child(odd){
    background-color: rgb(0,29,127);
}
.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.btn-info{
    background-color: rgb(2,106,195) ;
    border-color: rgb(2,106,195)
}
.btn-info:hover{
    background-color: rgb(0,29,127) ;
    border-color: rgb(0,29,127)
}
.card-body > img{
    border-radius: 115px;
    width: 190px;
}
.main-footer-div {
    border-top: 1px solid lightgrey ;
    padding-top: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
}
.footer-div > p{
    margin-left: 5px;
    margin-right: 5px;

}
.links a, .links a:hover, .links a:visited{
    text-decoration: none;
    color: rgb(2,106,195);
}