<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Update Passenger</title>
</head>
<body>
    <div class="container">
        <div class="user-info-edit">
            <form action="/users/edit/<%=user._id%>?_method=PUT" method="POST">
                Name: <input type="text" name="name" /><br/>
                Birthday: <input type="date" name="dob" /><br/>
                <input type="submit" value="Update"/>
            </form>
            Delete account?
            <form action="/users/delete/<%=user._id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>

        </div>
    </div>
</body>
</html>