<!--a logged in user will see this-->
<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Home Airport</title>
</head>
<body>
    <nav>
        <ul>
            <% if(user){ %>
            <li>
                Welcome, <%=user.username%>
            </li>
            <li>
                <a href="/users/edit">edit</a>
            </li>
            <% } else { %>
                <li>
                    <a href="#">Log In</a>
                </li>
                <li>
                    <a href="/users/new">Sign Up</a>
                </li>
            <% } %>
        </ul>
    </nav>
</body>
</html>