<!--a logged in user will see this-->
<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Home Airport</title>
</head>
<body>
<%- include ('../partials/header.ejs') %>

</body>
</html>