<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Board</title>
</head>
<body>
    <div class="container">
        <div class="flight-container">
<!--            pull in flight number, arrival-->
            <h1>Flight <%=flight.number%></h1>
            <h3>Scheduled Arrival: <%=flight.arrival%></h3>


        </div>
    </div>
</body>
</html>