<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Flight Board</title>
</head>
<body>
    <div class="container">
        <div class="flight-container">
<!--            pull in flight number, arrival-->
            <h1>Flight <%=flight.number%></h1>
            <h3>Scheduled Arrival: <%=flight.arrival%></h3>
            <h3>Flight status: <%=flight.status%></h3>

        </div>
    </div>
</body>
</html>